@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin param-block($width, $height, $color: main-color){
    width: $width;
    height: $height;
    background: $color;
}