*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

/* .block{ */
    /* width: 150px; */
    /* height: 150px; */
    /* margin: auto; */
    /* background: #000; */
    /* transition: 2s; */
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translate(-50%); */
/* } */

/* .block:hover{ */
    /* background: teal; */
    /* transform: rotate(45deg); */
    /* margin: 500px; */
    /* transform: scale(0.5, 4); */
    /* transform: scale(-1, 1); */
    /* transform: skew(30deg, 10deg); */
    /* transform: translate(100%, 50px); */

/* } */

ul{
    display: flex;
    justify-content: center;
}

.list-item{
    display: inline-block;
}

.list-item a{
    font-size: 22px;
    font-weight: 700;
    color: black;
    padding: 20px 25px;
    background: lightblue;
    display: inline-block;
    position: relative;
}

.list-item a::before{
    content: '';
    position: absolute;
    height: 5px;
    width: 0;
    background: green;
    bottom: 0;
    left: 0;
    transition: .5s ease-in;
}

.list-item a:hover::before{
    width: 100%;
}

.list-item.active a::before{
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    background: green;
    bottom: 0;
    left: 0;
}