*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}
.main{
    padding: 15px;
}
header{
    padding: 20px;
    background: gray;
    border-radius: 10px;
}
nav{
    margin-top: 10px;
    padding: 30px;
    background: lightgreen;
    border-radius: 10px;
}
.wrap{
    display: flex;
}
aside{
    width: 20%;
}
.content{
    width: 50%;
}
.side-menu{
    width: 30%;
}