*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

.sun{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    position: fixed;
    top: 100%;
    transform: translate(0, -100%);
    left: 0;
    animation: moveSun 15s infinite;
}

@keyframes moveSun {
    0%{
        top: 100%;
        transform: translate(0, -100%);
        left: 0;
    }
    50%{
        left: 50%;
        top: 0;
        transform: translate(-50%);
        background: yellow;
    }
    100%{
        left: calc(100% - 100px);
        background: red;
    }
}

body{
    background: #000; 
    animation: day 5s infinite;
    
 }

 @keyframes day{
    0%{
        background: darkblue; 
    }
    50%{
        background: lightblue;
    }
    100%{
        background: darkblue; 
    }
 }
 .sky{
    width: 150px;
    position: fixed;
 }

 .sky1{
    top: 100px;
    left: 650px;
 }

 .sky2{
    top: 150px;
    left: 200px;
 }

 .sky3{
    top: 100px;
    left: 350px;
 }

 .sky5{
    top: 300px;
    left: 50px;
 }

 .sky5{
    top: 20px;
    left: 150px;
 }

 .sky-wrap{
    display: flex;
    animation:  moveSky 15s infinite;
 }

 @keyframes moveSky{
   from{
        margin-left: 0%;
        transform: translate(0%, 0); 
    }
    to{
        background: #000;
        margin-left: 100%; 
    }
 }
 

