@import 'variables';
@import 'mixins';
*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

.container{
    max-width: 1280px;
    padding: 0 40px;
    margin: auto;
}

.header-section{
    padding-top: 60px;
    background: linear-gradient(0deg, #211F20, #211F20),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, 
    #262425 100%);
}

header{
    @include fb();
}

.logo{
    .main-logo{
        @include font(32px, $primary-color, 400, $georgia);
    }
    .sub-logo{
        margin-top: 10px;
        @include font(13px, $white, 400, $arial);
    }
}
.menu{
    &-burger{
        display: none;
        transition: 1s ease-in-out;
        z-index: 100;
        div{
           width: 30px;
           height: 2px; 
           background: $primary-color;
           &:nth-child(2){
            margin: 10px 0;
           }
        }
    }
    &-item{
        display: inline-block;
        margin: 0 17px;
    }
    &-item.active{
        position: relative;
        a{
           color: $white; 
        } 
        &::before{
            @include pseudo(100%, 3px);
            background: $primary-color;
            bottom: -10px;
            left: 0;
        }
    }

    &-link{
        @include font(15px, $cd-color, 400, $arial);
    }
    &-list{
        transition: 1s ease-in-out;
    }
}

.main{
    &-wrap{
        margin-top: 60px;
        @include fb();
        flex-wrap: nowrap;
    }
    &-content{
        width: 460px;
        .content-header{
            margin-bottom: 42px;
            h1{
                @include font(44px, $white, 400, $georgia)
            }
        }
        .content-deskription{
            margin: 42px 0;
            p{
                @include font(15px, $cd-color, 400, $arial);
                line-height: 160%;
            }    
        }
    }
    &-image{
        width: 698px;
        img{
            width: 100%;
        }
    }
}
.btn{
    a{
        @include font(17px, $dark-color, 400, $georgia);
        padding: 15px 45px;
        border-radius: 100px;
        background: $primary-color;
        display: inline-block;
    }
}