*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}


// .wrap{
//     display: grid;
    // grid-template-columns: 1fr 1fr 100px;
    // grid-template-columns: repeat(4, 1fr) minmax(100px, 300px);
    // grid-template-rows: 100px 50px 10px;
    // grid-row-gap: 10px;
    // grid-template-columns: repeat(4, 100px);
    // grid-template-rows: 1fr 1fr 100px;
    // grid-gap: 10px;


    // .item{
    //     color: white;
    //     // width: 100px;
    //     // height: 100px;
    //     background: green;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     // margin: 5px;
    //     &:nth-child(1){
    //         // grid-column-start: 2; 
    //         // grid-column-end: 4; 
    //         // grid-row-start: 1;
    //         // grid-row-end: 3;
    //         grid-column: 2 / 4;
    //         grid-row: 1 / 3;
    //     }
    //     &:nth-child(4)
    //     {
    //         // grid-row-start: 2;
    //         // grid-row-end: 4;
    //         grid-column: 5;
    //         grid-row: 2 / 4;
            
    //     }
    //     // &:nth-child(3){
    //     //     grid-column: 3;
    //     //     grid-row: 1 / 3;

    //     // }
    // }

    // .wrap{
    //     height: 100vh;
    //     display: grid;
    //         // grid-column-start: 2;
    //     grid-template-columns: 200px 1fr;
    //     grid-template-rows: 100px 1fr 100px;
    //     grid-template-areas: 
    //     "header header header"
    //     "menu main aside"
    //     "menu footer footer"
    //     ;

    //     footer{
    //         grid-area: footer;
    //         background: grey;
    //     }
    //     header{
    //         grid-area: header;
    //         background: green;
    //     }
    //     main{
    //         grid-area: main;
    //         background: pink;
    //     }
    //     nav{
    //         grid-area: menu;
    //         background: yellow;
    //     }
    //     aside{
    //         grid-area: aside;
    //     }

    // }

    .wrap{
        height: 100vh;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr 2fr;
        // grid-template-rows: 100px 1fr 100px;
        grid-template-areas:
        "blue orange orange"
        "red red red"
        "yellow yellow1 yellow2"
        ;
    }

    .blue{
        grid-area: blue;
        background: lightblue;
    }
    .orange{
        grid-area: orange;
        background: orange;
    }
    .red{
        grid-area: red;
        background: red;
    }
    .yellow{
        grid-area: yellow;
        background: yellow;
    }
    .yellow1{
        grid-area: yellow1;
        background: yellow;
    }
    .yellow2{
        grid-area: yellow2;
        background: yellow;
    }
    