*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}
.container{
    max-width: 1148px;
    margin: auto;
}

.head-section{
    background: #F13C6E;
    padding: 192px;
}

.head-description{
    margin-top: 50px;
    color: white;
}

.main-btn{
    margin-top: 50px;
}

.btn{
    background: #F13C6E;
    color: white;
    /* обязательно делаем через паддинги */
    padding: 12px 49px;
    border-radius: 40px;
    border: 2px solid white;
    /* <a></a> изначально строчная, по этому конвертируем ее в блок */
    display: inline-block;
}