// colors
$primary-color: #F1CDB3;
$cd-color: #CDCDCD;
$white: #FFFFFF;
$dark-color: #292929;
$light-grey: #545454;
$color4: #4c4c4c;
//Fonts
$arial: 'arial', sans-serif;
$georgia: 'georgia', sans-serif;